---
import { CountriesGrid } from "@components/CountriesGrid.jsx";
import Layout from "@layouts/Layout.astro";

const response = await fetch("https://restcountries.com/v3.1/all");
const countries = await response.json();
---

<Layout title="Frontend Mentor REST Countries">
  <main class="container pt-6 pb-16 lg:py-12">
    <CountriesGrid countries={countries} client:load />
  </main>
</Layout>
