---
import CountriesGrid from "@components/CountriesGrid.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Frontend Mentor REST Countries">
  <main class="container pt-6 pb-16 lg:py-12">
    <CountriesGrid />
  </main>
</Layout>
