---
import ArrowLeft from "@assets/icons/arrow-left.svg?raw";
---

<a
  href="/"
  class="inline-flex gap-2 items-center border border-gray-500 dark:bg-darkBlue-500 dark:border-none py-2 px-10 rounded-md"
>
  <Fragment set:html={ArrowLeft} />
   Back
</a>
