---
const { country, countriesCodes } = Astro.props;

// countriesCodes is an array of objects with the following structure:
// {
//   code: "AFG",
//   name: "Afghanistan"
// }

const bordersNames = [];

// Check if the country has borders
if (country.borders) {
  // Iterate through each border code
  country.borders.forEach((bordersCode) => {
    // Find the name of the border country using the border code
    const borderName = countriesCodes.find(
      (country) => country.code === bordersCode
    ).name;
    bordersNames.push(borderName);
  });
}
---

<div class="flex gap-3 items-center flex-wrap font-light">
  <p class="font-semibold w-full lg:w-auto">Border Countries:</p>

  {
    bordersNames.length > 0 ? (
      bordersNames.map((border) => {
        return (
          <a
            href={`/details/${border.replace(/\s/g, "-")}`}
            class="inline-block min-w-24 py-2 px-8 rounded-sm text-sm dark:bg-darkBlue-500 hover:scale-105 transition-transform shadow-md"
          >
            {border}
          </a>
        );
      })
    ) : (
      <span>No Border Countries</span>
    )
  }
</div>
