---
const { country } = Astro.props;

const currencies = country.currencies
  ? Object.values(country.currencies)
      .map((currency) => currency.name)
      .join(", ")
  : "";

const languages = country.languages
  ? Object.entries(country.languages)
      .map(([code, name]) => name)
      .join(", ")
  : "";

const countryDetails = {
  ["Native Name"]: country.name.nativeName
    ? Object.values(country.name.nativeName)[0].official
    : "",
  Population: country.population.toLocaleString(),
  Region: country.region,
  Subregion: country.subregion ? country.subregion : "",
  Capital: country.capital ? country.capital : "",
};

const countryDetails2 = {
  ["Top Level Domain"]: country.tld ? country.tld[0] : "",
  Currencies: currencies,
  Languages: languages,
};
---

<div class="col-span-2 lg:col-span-1 space-y-4">
  {
    Object.entries(countryDetails).map(([key, value]) => (
      <p class="font-light">
        <span class="font-semibold">{key}:</span>
        {value}
      </p>
    ))
  }
</div>

<div class="col-span-2 lg:col-span-1 space-y-4">
  {
    Object.entries(countryDetails2).map(([key, value]) => (
      <p class="font-light">
        <span class="font-semibold">{key}:</span>
        {value}
      </p>
    ))
  }
</div>
