---
import BackBtn from "@components/BackBtn.astro";
import Details from "@components/Details.astro";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const data = await fetch("https://restcountries.com/v3.1/all").then(
    (response) => response.json()
  );

  return data.map((country) => {
    const countryName = country.name.common.replace(/\s/g, "-");

    return {
      params: {
        country: countryName,
      },
      props: {
        countryData: country,
      },
    };
  });
}

const { country } = Astro.params;
const { countryData } = Astro.props;
---

<Layout title={`${country} details`}>
  <main class="container pt-10 pb-16 lg:py-20 space-y-16 lg:space-y-20">
    <BackBtn />

    <Details country={countryData} />
  </main>
</Layout>
